.contact-bg {
  background: url("../gettyImg/gettyimages-183288557-2048x2048.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 0px;
  box-shadow: inset 0 0 0 2000px #020202a1;
}
@media only screen and (max-width: 768px) {
  .contact-bg {
    background-position: center;
  }
}
/* margin from Top */
.marginTopBox {
  padding-top: 90px;
}
.contactHeading {
  text-align: center;
  color: #fff;
  /* font-size: 35px; */
  padding-top: 25px;
  font-family: "MainHeadingAllExceptHome";
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.contactImg {
  display: flex;
}
/* Image */
.contactImg img {
  width: auto;
  margin: auto;
}
/* Card */
.contactCard {
  background-color: #86b7fe;
  color:white ;
  border: none;
  border-radius: 1rem;
  text-align: center;
  z-index: 2;
}
.cardFontAwesome {
  margin: auto;
  font-size: 4vw;
  z-index: 3;
}
.cardPara {
  position: absolute;
  align-items: center;
  line-height: 2.3vw;
  gap: 2.5vw;
  z-index: 1;

}
.cardPara p {
  font-family: "NotoSerif-Italic-VariableFont_wdth,wght.ttf";
}
/* Card End */
.contactMap iframe {
  width: 100%;
}
.contactCardHoverEffect {
  background-color: #adb1d3;
  padding: 15px;
  height: 150px;
  position: relative;
  overflow: -moz-hidden-unscrollable;
}
.contactCardHoverEffect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #6c1111;
  height: 0;
  transition: 0.5s;
  z-index: 1;
}
.contactCardHoverEffect:hover::before {
  height: 100%;
  z-index: 1;
}
.enquiry {
 
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  /* box-shadow: inset 0 0 0 2000px #1c1c1c7a; */
  background-color: #541313;
  /* height: 100vh; */
}
.enquiryContent {
  text-align: center;
  color: #fff;
}
div h1 {
  font-family: "Radley-Regular.ttf";
  font-size: 8vw;
}
div p {
  font-family: "DancingScript-Medium.ttf";
  font-size: 3vw;
}
.form-control {
  width: 70%;
  padding: 0.375rem 0.75rem;
  margin-right: 50vw;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.0;
  color: #fff;
  background-color: transparent;
  border-radius: 0.25rem;
}
.form-control1 {
  border: 1px solid #ced4da;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 245, 0.844);
}
.form-control::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
  font-family: "DMSerifText-Regular.ttf";
  text-transform: uppercase;
}
form button {
  font-family: "TopLine";
}
.btn-primary {
  color: #fff;
  background-color: #6c1111;
  border-color: #6c1111;
}
.btn-primary:hover {
  color: #fff;
  background-color: #320606;
  border-color: #320606;
}
.enquiryForm {
  margin: 12px 0px;
}
