.btnBookOuter {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.btnBookOuter {
  --text-stroke-color: gold;
  --animation-color: gold;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: gold;
  -webkit-text-stroke: 1px var(--text-stroke-color);
 bottom: 1vw;
 left: -15px;
 bottom: 23px;
}
/* this is the text, when you hover on button */
/* .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
} */
/* hover */
.btnBookOuter:hover .hover-text {
  flex-grow: var(--animation-color);
  transition: ease-in;
   overflow: hidden;
  transition: 0.1s;
  color: rgb(240, 205, 6);
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
  
}

.banner {
  /* background-color: #06ff00; */
  background: url("../gettyImg/gettyimages-183288557-2048x2048.jpg") no-repeat;
  height: 135vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px #1c1c1c7a;
}
.auto-type {
  
  color: rgb(251, 214, 2);
  

    padding-bottom: 100px;
}
.bannerContent {
  position: absolute;
  color: #fff;
  top: 120px;
  left: 7%;
}
@media screen and (max-width: 400px) {
  .bannerContent {
    top: 20%;
  }
}
.bannerContent .heading {
  text-align: left;
  font-family: "DMSerifText-Regular.ttf";
}
.bannerContent .subHeading {
  text-align: left;
  font-family: "DMSerifText-Regular.ttf";
  font-size: 23px;
}

/* Book Now Modal */
#book-now-modal .modal-content {
   background-color: white;
  background-size: contain;
  background-position: center;
  border-radius: 0px;
  /* box-shadow: inset 0 0 0 2000px #1c1c1c7a; */
  height: auto;
  /* width: auto; */
  /* align-items: center; */
}
#book-now-modal .modal-content .modal-header .modal-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  font-family:"DMSerifText-Italic.ttf";
}
#book-now-modal .modal-content .modal-body {
  text-decoration: none;
  /* display: inline-flex; */
  /* align-content: center; */
}
#book-now-modal .modal-content .modal-body a {
  text-decoration: none;
  margin: 3% 25% 3% 25%;
}
#book-now-modal .modal-content .modal-header .btn-close {
  opacity: 1;
}
@media screen and (max-width: 400px) {
  #book-now-modal .modal-content .modal-body a {
    margin: 3% 18%;
  }
}
@media screen and (max-width: 300px) {
  #book-now-modal .modal-content .modal-body a {
    margin: 3% 10%;
  }
}
/* Button */
/* call */
.btnBook-call {
   outline-color: maroon;
 
}
/* Whatsapp */
.btnBook-whatsapp {
  background-color: #408f21;
}
/* email */
.btnBook-email {
  background-color: #1572a1;
}
.btnBook {
  width: 200px;
  height: 50px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(204, 87, 87, 0.15);
}

.btnBook,
.btnBook span {
  transition: 200ms;
}

.btnBook .text {
  transform: translateX(35px);
  color: black;
  
}
.btnBook .iconBook {
  position:  relative;
  /* border-left: 1px solid #ff0e0e; */
  /* transform: translateX(110px); */
  height: 40px;
  width: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
  top: -5px;
  left: -20px;
  right: 0;
}

.btnBook svg {
  
  width: 20px;
  fill: black;
  
  margin-left: 15px;
  
}

.btnBook-call:hover {
  
background-color: maroon;
transition: ease-in-out;
  
 
}
.btnBook-whatsapp:hover {
  background-color: #43b815;
}


.btnBook:hover .text {
   outline-style:  hidden  ;
   outline-color: #041427;
}

.btnBook:hover .iconBook {
  width: 135px;
  border-left: none;
  transform: translateX(0);
}

.btnBook:focus {
  outline: auto;
}

.btnBook:active .iconBook svg {
  transform: scale(0.8);
}
/* Button End */

@media (max-width: 600px) {
  #book-now-modal .modal-content .modal-header .modal-title {
    font-size: 1.5rem;
  }
}
/* Book Now Modal End */

/* Benefits */
.benefits {
  background-color: #fff;
  height: 80vh;
}
@media (max-width: 400px) {
  .benefits {
    height: none;
  }
}
.benefitHead {
  color: #041427;
  text-align: center;
  text-transform: capitalize;
}
.benefitHead h1 {
  font-family: "HomeHeading";
}
.benefitHead p {
  font-family: "SmallHomeHeading";
  text-transform: uppercase;
  font-size: 18px;
}
.benefitContent .benefitCardImg {
  display: flex;
  justify-content: center;
}
.benefitContent .benefitCardImg .img1 {
  width: 250px;
}
.benefitContent .benefitCardImg .img2 {
  width: 200px;
}
.benefitContent .benefitCardImg .img3 {
  width: 200px;
}
.benefitContent .benefitCardImg .img4 {
  width: 250px;
}
.benefitContent .benefitCardText {
  color: #6c1111;
  text-align: center;
}
.benefitContent .benefitCardText h2 {
  color: #6c1111;
  font-family: "BenefitHeading";
}
.benefitContent .benefitCardText p {
  font-size: 20px;
  color: #6c757d;
  font-family: "HomeParaHeading";
}
/* Owl Carousel nav or dots control*/
#benefitItemsId .owl-nav {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  width: 100%;
  z-index: 3;
}
#benefitItemsId .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  display: block;
  background: #6c1111;
  /* border: #fff solid 2px; */
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#benefitItemsId .owl-nav .owl-next {
  position: absolute;
  right: 0;
  display: block;
  background: #6c1111;
  /* border: solid #fff 2px; */
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#benefitItemsId .owl-dots {
  position: absolute;
  bottom: -5px;
  width: 100%;
  z-index: 3;
}
#benefitItemsId .owl-dots .owl-dot span {
  width: 34px;
  background: #6c1111;
  z-index: 3;
}
@media (max-width: 400px) {
  #benefitItemsId .owl-nav {
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
  }
}
#benefitItemsId .owl-theme .owl-dots .owl-dot.active span,
#benefitItemsId .owl-theme .owl-dots .owl-dot:hover span {
  background: rgb(143, 96, 96) !important;
  z-index: 3;
}
/* Benefits End */

/* Simple or Example */
.simple {
  
  height: 78vh;
  z-index: 2;
}
.simpleText {
  z-index: 2;
  position: relative;
 
}
.simpleText::after {
  position: absolute;
  content: "Our's Collections";
  left: 37%;
  top: 5%;
  bottom: 0;
  right: 0%;
  z-index: 1;
  color: #fff;
  font-size: 36px;
  font-family: "BebasNeue-Regular.ttf";
}
@media only screen and (max-width: 500px) {
  .simpleText::after {
    left: 30%;
  }
}
.simpleContent {
  display: flex;
  justify-content: center;
  z-index: 2;
}
.simpleContent img {
  width: 100%;
  height: 78vh;
  z-index: 2;
}
.simpleItemsMob {
  display: none;


}
@media (max-width: 600px) {
  .simpleItemsDesk {
    display: none;
    z-index: 2;
  }
  .simpleItemsMob {
    display: block;
    z-index: 2;
    
    
  }
  .simpleContent img {
    height: 86vh;
    z-index: 2;
  }
}
/* Owl Carousel nav or dots control*/
#simpleItemsId .owl-nav {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  width: 100%;
  z-index: 3;
}
#simpleItemsId .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  display: block;
  background: #6c1111;
  border: #fff solid 2px;
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#simpleItemsId .owl-nav .owl-next {
  position: absolute;
  right: 0;
  display: block;
  background: #6c1111;
  border: solid #fff 2px;
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#simpleItemsId .owl-dots {
  position: absolute;
  bottom: 35px;
  width: 100%;
  z-index: 3;
}
#simpleItemsId .owl-dots .owl-dot span {
  width: 34px;
  background: #6c1111;
  z-index: 3;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important;
  z-index: 3;
}
/* Simple or Example End */

/* Testimonials Section */
.testimonials {
  background-image: url(../img/testimonial-bg.png);
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  /* box-shadow: inset 0 0 0 2000px #1c1c1c7a; */
  background-color: #723939;
  /* background-color: #0f3460; */
  height: 78vh;
}
@media screen and (max-width: 400px) {
  .testimonials {
    height: none;
  }
}
.testimonialHead {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.testimonialHead h1 {
  font-family: "HomeHeading";
}
.testimonialHead p {
  font-size: 18px;
  font-family: "SmallHomeHeading";
  text-transform: uppercase;
}
.testimonialContent .testimonialCardImg {
  display: flex;
  justify-content: center;
}
.testimonialContent .testimonialCardImg img {
  width: 150px;
  border-radius: 100%;
}
.testimonialContent .testimonialCardText {
  color: #fff;
  text-align: center;
}
.testimonialContent .testimonialCardText h2 {
  color: #fff;
  font-family: "testimonialNameHeading";
}
.testimonialContent .testimonialCardText p {
  font-size: 20px;
  color: #fff;
  font-family: "HomeParaHeading";
}
.testimonialContent .testimonialCardText a {
  text-decoration: none;
  color: #fff;
}
.testimonialContent .testimonialCardText a:hover {
  color: #e40475;
}
/* Owl Carousel nav or dots control*/
#testimonialItemsId .owl-nav {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  width: 100%;
  z-index: 3;
}
#testimonialItemsId .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  display: block;
  background: #6c1111;
  border: #fff solid 2px;
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#testimonialItemsId .owl-nav .owl-next {
  position: absolute;
  right: 0;
  display: block;
  background: #6c1111;
  border: solid #fff 2px;
  width: 50px;
  font-size: 30px;
  color: #fff;
  padding: 0px 0px 10px 0px !important;
  z-index: 3;
  border-radius: 5px 20px;
}
#testimonialItemsId .owl-dots {
  position: absolute;
  bottom: -60px;
  width: 100%;
  z-index: 3;
}
#testimonialItemsId .owl-dots .owl-dot span {
  width: 34px;
  background: #6c1111;
  z-index: 3;
}
@media (max-width: 320px) {
  #testimonialItemsId .owl-nav {
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
  }
}
/* Testimonials Section End */





@media (max-width: 1050px) {
  .benefits {
    height: none;
  }
  .simple {
    position: relative;
    height: 90vh;
  }
  .simpleContent img {
    height: none;
  }
  .testimonials {
    height: none;
  }
}

@media (max-width: 1024px) {
  .benefits {
    height: none;
  }
  .simple {
    height: 33vh;
  }
  .testimonials {
    height: none;
  }
}

@media (max-width: 820px) {
  .benefits {
    height: none;
  }
  .simple {
    height: 31vh;
  }
  .testimonials {
    height: none;
  }
}


@media (max-width: 768px) {
  .benefits {
    height: none;
  }
  .simple {
    height: 35vh;
  }
  .testimonials {
    height: none;
  }
}

@media (max-width: 450px) {
  .benefits {
    height: none;
  }
  .simple {
    height: 77vh;
  }
  .testimonials {
    height: none;
  }
}

@media (max-width: 380px) {
  .benefits {
    height: none;
  }
  .simple {
    height: 73vh;
  }
  .testimonials {
    height: none;
  }
}

